<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="template")
		meta(name="keywords" content="template")
		meta(name="author" content="Kamrade")
		meta(name="apple-mobile-web-app-capable" content="yes")
		title Test

		link(rel="stylesheet" type="text/css" href="css/styles.css")
	body
		h1 Test
		p.maxLeft Max Left:
			span 0
		p.maxTop Max Top:
			span 0
		.container.canva#canva
			.element#el01
			.element#el02
			.element#el03
			.element#el04
			.element#el05
			.element#el06
			.element#el07
			.element#el08
			.element#el09
			.element#el10
			.element#el11
			.element#el12
			.element#el13
			.element#el14
			.element#el15
			.element#el16
			.element#el17
			.element#el18
			.element#el19
			.element#el20

		script(src="js/app.js")
